.container {
  width: 300px;
  border-radius: 14px;
  background: #2c303b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .input {
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    border: 14px;
    padding: 10px 12px;
    color: white;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
