.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  background-color: #1f2429;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.unSelectable {
  -webkit-user-select: none;
}
